body {
  margin: 0;
  font-family: Arial;
}

#topBar {
  background: #111;
  color: white;
  padding: 12px;
  text-align: center;
  font-size: 22px;
}

#busOptions {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  background: white;
}

#busOptions button {
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #333;
  background: #eee;
}

#map {
  width: 100%;
  height: calc(100vh - 100px);
}

#codePopup {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

#popupBox {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  border: 2px solid #333;
}

button {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  font-size: 18px;
}
