/* BACKGROUND */
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: linear-gradient(135deg, #0a0a0a, #1a1a1a);
    color: white;
}

/* TOP MENU */
#menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 18px;
    background: rgba(255,255,255,0.07);
    backdrop-filter: blur(10px);
}

#menu button {
    padding: 12px 22px;
    border: none;
    background: #008cff;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

#menu button:hover {
    transform: scale(1.07);
}

/* STUDENT + DRIVER SECTIONS */
#studentSection, #driverSection {
    display: none;
    padding: 20px;
    text-align: center;
}

/* INPUT */
input {
    width: 70%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    background: rgba(255,255,255,0.14);
    color: white;
    outline: none;
}

/* BUTTON BIG */
.startBtn {
    margin-top: 25px;
    padding: 15px 35px;
    font-size: 20px;
    background: #00c8ff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.startBtn:hover {
    transform: scale(1.07);
}

/* MAP */
#map {
    width: 100%;
    height: calc(100vh - 120px);
    display: none;
}
